@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brightRed: hsl(12, 88%, 59%);
  --brightRedLight: hsl(12, 88%, 69%);
  --brightRedSupLight: hsl(12, 88%, 95%);
  --darkBlue: hsl(228, 39%, 23%);
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%),

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brightRed: var(--brightRed);
  --color-brightRedLight: var(--brightRedLight);
  --color-brightRedSupLight: var(--brightRedSupLight);
  --color-darkBlue: var(--darkBlue);
  --color-darkGrayishBlue: var(--darkGrayishBlue);
  --color-veryDarkBlue: var(--veryDarkBlue);
  --color-veryPaleRed: var(--veryPaleRed);
  --color-veryLightGray: var(--veryLightGray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url('/img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta{
  background-image: url('/img/bg-simplify-section-desktop.svg'); 
  background-repeat: no-repeat;
}

@media (max-width: 578px){
  body {
  background-size: 500px;
  background-position: 50px -50px;
}

#cta{
  background-image: url('/img/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat; 
} 
}

.hamburger{
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: relative;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-buttom{
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 24px;
  background-color: black;
}

.hamburger-middle{
  transform: translateY(7px);
}

.hamburger-buttom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-buttom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.open .hamburger-middle{
  display: none;
}
